@using LinqStudio.Blazor.Abstractions
@using LinqStudio.Blazor.Components.Dialogs;

<MudNavMenu data-testid="nav-menu">
	<MudNavLink Href="/" Icon="@Icons.Material.Filled.Home" Match="NavLinkMatch.All" data-testid="nav-home">Home</MudNavLink>
	
	<!-- Project Menu -->
	<div>
		<MudMenu Dense="true" AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopLeft" data-testid="nav-project-menu" FullWidth="true">
			<ActivatorContent>
				<MudNavLink Icon="@Icons.Material.Filled.Folder" data-testid="nav-project">
					@GetProjectTitle()
				</MudNavLink>
			</ActivatorContent>

			<ChildContent>
				<MudMenuItem OnClick="NewProject" data-testid="nav-project-new">
					<MudIcon Icon="@Icons.Material.Filled.Add" Class="mr-2" />
					New
				</MudMenuItem>
				
				<MudMenuItem OnClick="OpenProject" data-testid="nav-project-open">
					<MudIcon Icon="@Icons.Material.Filled.FolderOpen" Class="mr-2" />
					Open
				</MudMenuItem>
				
				@if (Workspace.IsProjectOpen)
				{
					<MudDivider Class="my-2" />
					
					<MudMenuItem OnClick="EditProject" data-testid="nav-project-properties">
						<MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-2" />
						Properties
					</MudMenuItem>
					
					<MudMenuItem OnClick="SaveProject" Disabled="@(!Workspace.HasUnsavedChanges)" data-testid="nav-project-save">
						<MudIcon Icon="@Icons.Material.Filled.Save" Class="mr-2" />
						Save
					</MudMenuItem>
					
					<MudMenuItem OnClick="SaveAsProject" data-testid="nav-project-save-as">
						<MudIcon Icon="@Icons.Material.Filled.SaveAs" Class="mr-2" />
						Save As...
					</MudMenuItem>
					
					<MudMenuItem OnClick="CloseProject" data-testid="nav-project-close">
						<MudIcon Icon="@Icons.Material.Filled.Close" Class="mr-2" />
						Close
					</MudMenuItem>
				}
			</ChildContent>
		</MudMenu>
	</div>

	@if (Workspace.IsProjectOpen)
	{
		<div>
			<MudMenu Dense="true" AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopLeft" data-testid="nav-editor-menu" FullWidth="true">
				<ActivatorContent>
					<MudNavLink Icon="@Icons.Material.Filled.Code" Href="/editor" data-testid="nav-editor">
						Editor
					</MudNavLink>
				</ActivatorContent>

				<ChildContent>
					<MudMenuItem OnClick="CreateNewQuery" data-testid="nav-editor-new">
						<MudIcon Icon="@Icons.Material.Filled.Add" Class="mr-2" />
						New Query
					</MudMenuItem>

					<MudMenuItem OnClick="OpenQueryFromFile" data-testid="nav-editor-open-file">
						<MudIcon Icon="@Icons.Material.Filled.FolderOpen" Class="mr-2" />
						Open Query...
					</MudMenuItem>
				</ChildContent>
			</MudMenu>
		</div>
	}
	else
	{
		<MudNavLink Icon="@Icons.Material.Filled.Code" Disabled="true" data-testid="nav-editor-disabled">Editor</MudNavLink>
	}
</MudNavMenu>